*~
auto_batch_*
build_*
actor_install/RELEASE.yaml
fort.*
Plot_data*
*.log
.vscode


# Files and directories to exclude from Git repository
*~
*.[oa]
*.mod
*.exe
*.pyc
module/*/
build/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IDE
.vscode/
.idea

# Generated version file
hcdworkflow/_version.py

# CI outputs
ci_regression/
actor_paths.env
virtualenvdir/
